.nav{
    padding: 5px 50px;
    background-color: #f1cd70;
}
.navbar-logo{
    margin-top: -8px;
}
.navbar-collpase{
    width: 80%;
    display: flex;
}
.navbar-list{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0px;
}
.navbar-list.left{
    padding-left: 20px;
}
.navbar-list.right{
    justify-content: flex-end;
}
.navbar-item .nav-link{
    color: #7b503b;
}